<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <hr class="hr-2"/>

    <hr class="hr-2"/>
    <div class="container-fluid">
        <div id="home-artworks-parent" class="row  d-flex justify-content-center" th:each="picture:${pictures}">
            <div id="home-artworks" class="col-md-5" >
                <img th:src="${picture.getUrl()}" class="border border-secondary" height="300px"/><br/>
                <div id="artwork-name" th:text="${picture.getTitle()}"></div>
                <a class="btn-artworks" th:href="@{/pictures/details/{id}(id=${picture.id})}">Details</a>
           <form th:action="@{/pictures/delete}" th:method="delete">
               <input type="hidden" name="public_id" th:value="${picture.publicId}"/>
               <input type="submit" value="Delete"/>
           </form>
            </div>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>

